#django-prototype-toolbar {
	padding: 30px 0 0 0;
	margin: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
	border: 1px solid #cccccc;
	border-top: none;
	position: fixed;
	top: 0;
	right: 10px;
	z-index: 9999;
	background: #ffffff;
	background: rgba(255,255,255,0.9);
	overflow: hidden;
	max-height: 90%;
	height: 0;
	width: 30px;
}
#django-prototype-toolbar:hover {
	overflow-y: scroll;
	height: auto;
	width: auto;
	padding: 0;
}
#django-prototype-toolbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
	display: none;
}
#django-prototype-toolbar:hover ul {
	display: block;
}
#django-prototype-toolbar li {
	font-family: Lucida Console, sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333333;
}
#django-prototype-toolbar a {
	font-size: 100%;
	line-height: 1;
	display: block;
	padding: 5px 8px;
	color: #0872CA;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}
#django-prototype-toolbar li:first-child a {
	border: none;
}
#django-prototype-toolbar .current a,
#django-prototype-toolbar a:hover,
#django-prototype-toolbar a:focus {
	background: #555555;
	color: #ffffff;
	text-shadow: none;
}
#django-prototype-toolbar a:active {
	padding: 6px 7px 4px 9px;
}