<!DOCTYPE html>
<html>
<head>
<title>Page not found</title>

<link href="{{ STATIC_URL }}prototype/css/screen.min.css" rel="stylesheet"/>

<script>
document.documentElement.className += " js";
</script>
</head>

<body>

<div class="wrapper">
	<h1>{% if project %}{{ project }}{% else %}Django Prototype{% endif %}</h1>
	<div class="message error">
		{% if not project %}
		<h2>No project configured for this host name</h2>
		<p>Use the menu in top right of screen to select or configure a project.</p>
		{% else %}
		<h2>Missing page</h2>
		<p>This page doesn't exist</p>
		{% endif %}
	</div>
</div>
</body>
</html>