{% extends "prototype/base.html" %}

{% block title %}Page not found - {% endblock %}

{% block main %}
<h1>{{ project }}</h1>

<div class="message error">
	<h2>Template not found</h2>
	
	<p>The template <code>{{ request.page }}</code> does not exist</p>
</div>

{% with project.templates as templates %}
<p>Time since last change: <strong>{{ project.tmpl_last_modified|timesince }}</strong></p>
<ul class="template-list">
{% include "prototype/_template_list.html" %}
</ul>
{% endwith %}
{% endblock %}