{% extends "prototype/base.html" %}

{% block main %}
<div id="project-settings"{% if form.errors %} class="open"{% endif %}>
	<form action="{% url template_list %}" method="post" id="project-form">
		{{ form.as_div }}
		<div class="actions">
			<input type="submit" value="Save changes">
		</div>
		{% csrf_token %}
	</form>
	
	<div class="project-actions">
		<form action="{% url build_static %}" method="post">
			<input type="submit" value="Build assets">
			{% csrf_token %}
		</form>
	</div>
</div>

<div id="project-meta">
	<p>Time since last change: <strong>{{ project.tmpl_last_modified|timesince }}</strong></p>
</div>

<div class="template-list">
	<h2>Templates <em>({{ templates|length }} template{{ templates|length|pluralize }})</em></h2>
	<ul>
		{% include "prototype/_template_list.html" %}
	</ul>
</div>
<div class="data-inspector">
	<h2>Data <em>({{ data|length }} item{{ data|length|pluralize }})</em></h2>
	{% if data %}
		{% inspector %}
	{% else %}
		<p>No data structures</p>
	{% endif %}
</div>
{% endblock %}