{% extends "prototype/base.html" %}

{% block main %}
{% if request.project.templates %}
<div id="project-meta">
	<p>Templates last modified: <strong>{{ request.project.templates.last_modified|timesince }} ago</strong></p>
</div>
{% endif %}

<div class="template-list">
	<h2>Templates <em>({{ request.project.templates|length }} template{{ request.project.templates|length|pluralize }})</em></h2>
	{% if request.project.templates %}
	<ul>
		{% for template in request.project.templates %}
		<li><a href="{% url template template=template.slug %}">{{ template.title }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No templates</p>
	{% endif %}
</div>
<div class="data-inspector">
	<h2>Data <em>({{ request.project.data|length }} item{{ request.project.data|length|pluralize }})</em></h2>
	{% if request.project.data %}
		{% inspector %}
	{% else %}
		<p>No data structures</p>
	{% endif %}
</div>
{% endblock %}
