<!--[if gt IE 6]><!-->
<style>
@import "{{ STATIC_URL }}css/toolbar.css";
</style>
<div id="django-prototype-toolbar" class="{{ request.project.toolbar_position }}">
<h3>Select a template</h3>
<ul>
<li class="divider"><a href="{% url template_list %}">Template list</a></li>
{% for template in request.project.templates %}
<li{% if current_template and template.slug == current_template %} class="current"{% endif %}><a href="{% url template template=template.slug %}">{{ template.title }}</a></li>
{% endfor %}
</ul>
</div>
<![endif]-->
